@CHARSET "ISO-8859-1";



.spacerLabelTab1{
	width:130px;
}

.spacerLabelTab2{
	width:220px;
}

.spaceDecimalbox{
	width:125px;
}

.colorWindow{/*NEGRO*/
background: rgb(63,76,107); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}


.colorFontHead{
	color:#FFFFFF;
	font-family: 'Special Elite', cursive;
}


.colorBorderPanels{/*AZUL*/
background: rgb(46,95,137); /* Old browsers */
background: -moz-linear-gradient(top, rgba(46,95,137,1) 0%, rgba(23,69,109,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,95,137,1)), color-stop(100%,rgba(23,69,109,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(46,95,137,1) 0%,rgba(23,69,109,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(46,95,137,1) 0%,rgba(23,69,109,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(46,95,137,1) 0%,rgba(23,69,109,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(46,95,137,1) 0%,rgba(23,69,109,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e5f89', endColorstr='#17456d',GradientType=0 ); /* IE6-9 */	
}

.colorBackGroundPanel{
	background:#303030
}

.pading{
	padding:10px;
}


.anchoInputs{
	width: 10px;
}


.centerPanels{
	text-align:center;
}

.rightText{
	text-align:right;
}

.widthComent{
	width: 100%;
	height: 40px;
}

.spacerLabel{
	width: 100px;
}

.upperCase{
	text-transform: uppercase;
}

.fontSizeRfcCurp{
	font-size: x-small;
}

.borderTop{
	border-top: 3px solid #4D5BB5;
}

.formatTitleGroup{
	font-weight: bold
}

.backgroudRow{
	background-color:transparent;
}
#row2{
	background-color:transparent;
}

.heightGrid{
	height:300px;
	font-size: xx-small;
}

.fontSizeContentGrid{
	font-size: xx-small;
}



