/* :root { */
/* 	--bckgrBlackDegree-rgb: rgb(125, 126, 125); */
/* 	--bckgrBlackDegree-moz: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); */
/* 	--bckgrBlackDegree-webkit: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); */
/* 	--bckgrBlackDegree-linear: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); */
/* 	--bckgrBlackDegree-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0); */
	
/* 	--bckgrGreen1Degree-rgb: rgb(0,158,52); */
/* 	--bckgrGreen1Degree-moz: -moz-linear-gradient(top, rgba(0,158,52,1) 0%, rgba(0,119,53,1) 44%, rgba(0,104,59,1) 100%); */
/* 	--bckgrGreen1Degree-webkit: -webkit-linear-gradient(top, rgba(0,158,52,1) 0%,rgba(0,119,53,1) 44%,rgba(0,104,59,1) 100%); */
/* 	--bckgrGreen1Degree-linear: linear-gradient(to bottom, rgba(0,158,52,1) 0%,rgba(0,119,53,1) 44%,rgba(0,104,59,1) 100%); */
/* 	--bckgrGreen1Degree-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009e34', endColorstr='#00683b',GradientType=0 ); */
	
/* 	--bckgrGreen2Degree-rgb: rgb(201,222,150); */
/* 	--bckgrGreen2Degree-moz: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); */
/* 	--bckgrGreen2Degree-webkit: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); */
/* 	--bckgrGreen2Degree-linear: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); */
/* 	--bckgrGreen2Degree-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); */

/* 	--bckgrRedDegree-rgb: rgb(169,3,41); */
/* 	--bckgrRedDegree-moz: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); */
/* 	--bckgrRedDegree-webkit: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); */
/* 	--bckgrRedDegree-linear: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); */
/* 	--bckgrRedDegree-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); */
	
/* 	--bckgrSilverDegree-rgb: rgb(181,189,200); */
/* 	--bckgrSilverDegree-moz: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); */
/* 	--bckgrSilverDegree-webkit: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); */
/* 	--bckgrSilverDegree-linear: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); */
/* 	--bckgrSilverDegree-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); */

/* 	--bckgrYellowDegree-rgb: rgb(255,175,75); */
/* 	--bckgrYellowDegree-moz: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%); */
/* 	--bckgrYellowDegree-webkit: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); */
/* 	--bckgrYellowDegree-linear: linear-gradient(to bottom, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); */
/* 	--bckgrYellowDegree-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); */
		
		
/* 	--bckgrMenu-rgb: rgb(96, 108, 136); */
/* 	--bckgrMenu-moz: -moz-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%); */
/* 	--bckgrMenu-webkit: -webkit-linear-gradient(top, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%); */
/* 	--bckgrMenu-linear: linear-gradient(to bottom, rgba(96, 108, 136, 1) 0%, rgba(63, 76, 107, 1) 100%); */
/* 	--bckgrMenu-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0); */
	
/* 	--color-golden-degree: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
	
/* 	--title-navegacion-header-bcgr-rgb: rgb(206,219,233); */
/* 	--title-navegacion-header-bcgr-moz: -moz-linear-gradient(top, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 17%, rgba(97,153,199,1) 50%, rgba(0,31,104,1) 51%, rgba(65,154,214,1) 59%, rgba(75,184,240,1) 71%, rgba(58,139,194,1) 84%, rgba(38,85,139,1) 100%); */
/* 	--title-navegacion-header-bcgr-webkit: -webkit-linear-gradient(top, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(0,31,104,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); */
/* 	--title-navegacion-header-bcgr-linear: linear-gradient(to bottom, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 17%,rgba(97,153,199,1) 50%,rgba(0,31,104,1) 51%,rgba(65,154,214,1) 59%,rgba(75,184,240,1) 71%,rgba(58,139,194,1) 84%,rgba(38,85,139,1) 100%); */
/* 	--title-navegacion-header-bcgr-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); */
/* 	--title-navegacion-header-bcgr-2d: #001f68; */
	
/* 	--title-navegacion-header-shadow-text-generic: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0); */
/* 	--title-navegacion-header-shadow-text-webkit: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0); */
/* 	--title-navegacion-header-shadow-text-moz: 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0), 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0); */
	
/* 	/** variables stilo**/ */
/* 	--fontSizeHeaderListBox: 100%; */
/* 	--fontSizeCellListBox: 180%; */
/* } */


/* /* css ListBox Apartados*/ */
/* .listaApartadosStyle .z-listbox-body{ */
/* 	background: var(--bckgrMenu-rgb); */
/* 	background: var(--bckgrMenu-moz); */
/* 	background: var(--bckgrMenu-webkit); */
/* 	background: var(--bckgrMenu-linear); */
/* 	filter: var(--bckgrMenu-filter); */
/* } */

/* .listaApartadosStyle .z-listbox { */
/* 	background: none repeat scroll 0 0; */
/* 	border: 4px solid #ffffff; */
/* } */

/* .listaApartadosStyle .z-listitem-seld { */
/* /* 	background-image: none; */ */
/* 	background: rgb(59,103,158); background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);	background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); */
/* } */

/* /* Filas impares sobre el mouse sobre ellas */ */
/* .listaApartadosStyle .overseld, .listaApartadosStyle.overseld, .listaApartadosStyle .z-listitem-over, .listaApartadosStyle .z-listitem-over-seld { */
/* /* 	background-image: none; */ */
/* /* 	background-color: transparent; */ */
/* 	background: var(--color-golden-degree); */
/* } */

/* .listaApartadosStyle .z-listbox-body .z-listcell, .listaApartadosStyle.z-listbox-footer .z-listfooter { */
/* 	cursor: pointer; */
/* } */

/* tr.z-listitem z-listitem-seld { */
/*     background-color: silver; */
/*     border: 1px solid #FFF; */
/* } */

/* tr.z-listitem z-listitem-seld z-listbox-odd { */
/*     background-color: gold; */
/*     border: 1px solid #FFF; */
/* } */

/* .listaApartadosStyle tr.z-listitem { */
/*   Normal row */
/* } */

/* .listaApartadosStyle tr.z-listbox-odd { */
/*   Elementos impares */
/*   background: #2a4a69 repeat scroll 0 0; */
/* } */

/* .listaApartadosStyle tr.z-listitem-seld { */
/* 	/* Elementos seleccionados */ */
/* 	background: rgb(30,87,153); */
/* 	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); FF3.6-15 */
/* 	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); */
/* 	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); */
/* } */

/* .listaApartadosStyle tr.z-listbox-odd.z-listitem-seld { */
/*   Elementos impares seleccionados */
/* } */

/* /* Header and Footer Font and Height */ */
/* .listaApartadosStyle .z-listfooter-cnt, .listaApartadosStyle .z-listheader-cnt { */
/* 	border: 0 none; */
/* 	color: black; */
/* 	font-family: "Tahoma", verdana, arial, sans-serif; */
/* 	font-size: 11px; */
/* 	margin: 0; */
/* /* 	height: 13px; */ */
/* } */

/* /* Altura y formato de la fuente de la celda*/ */
/* .listaApartadosStyle .z-listfooter-cnt, .listaApartadosStyle .z-listcell-cnt, .listaApartadosStyle .z-listheader-cnt { */
/* 	font-size: 180%; */
/* 	font-weight: bolder; */
/* 	font-family: 'Advent Pro', sans-serif; */
/* /* 	height: 13px; */ */
/* 	color: white; */
/* } */

/* .listaApartadosStyle .z-listheader-sort-img { */
/* 	float: left; */
/* 	font-size: 0; */
/* 	left: 90%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	position: absolute; */
/* } */

/* /** color header listbox **/ */
/* .listaApartadosStyle .z-listbox-header tr.z-listhead, div.z-listbox-header tr.z-auxhead { */
/* 	background-image: none; */
	
/* 	background-color: rgb(69,72,77); */
/* 	background-color: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); */
/* 	background-color: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); */
/* 	background-color: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); */
	
/* 	color: white; */
/* 	font-size:100%; */
/* } */

/* .listaApartadosStyle .z-listbox-header th.z-listheader-sort-over { */
/* 	background-image: none; */
/* } */
/* /* FIN css ListBox Apartados*/ */















/* /* css ListBox CatalogoProductos*/ */
/* .listaCatalogoProductosStyle .z-listbox-body{ */
/* 	background: var(--bckgrMenu-rgb); */
/* 	background: var(--bckgrMenu-moz); */
/* 	background: var(--bckgrMenu-webkit); */
/* 	background: var(--bckgrMenu-linear); */
/* 	filter: var(--bckgrMenu-filter); */
/* } */

/* .listaCatalogoProductosStyle .z-listbox { */
/* 	background: none repeat scroll 0 0; */
/* 	border: 4px solid #ffffff; */
/* } */

/* .listaCatalogoProductosStyle .z-listitem-seld { */
/* /* 	background-image: none; */ */
/* 	background: rgb(59,103,158); background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);	background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); */
/* } */

/* /* Filas impares sobre el mouse sobre ellas */ */
/* .listaCatalogoProductosStyle .overseld, .listaCatalogoProductosStyle.overseld, .listaCatalogoProductosStyle .z-listitem-over, .listaCatalogoProductosStyle .z-listitem-over-seld { */
/* /* 	background-image: none; */ */
/* /* 	background-color: transparent; */ */
/* 	background: var(--color-golden-degree); */
/* } */

/* .listaCatalogoProductosStyle .z-listbox-body .z-listcell, .listaCatalogoProductosStyle.z-listbox-footer .z-listfooter { */
/* 	cursor: pointer; */
/* } */

/* tr.z-listitem z-listitem-seld { */
/*     background-color: silver; */
/*     border: 1px solid #FFF; */
/* } */

/* tr.z-listitem z-listitem-seld z-listbox-odd { */
/*     background-color: gold; */
/*     border: 1px solid #FFF; */
/* } */

/* .listaCatalogoProductosStyle tr.z-listitem { */
/*   Normal row */
/* } */

/* .listaCatalogoProductosStyle tr.z-listbox-odd { */
/*   Elementos impares */
/*   background: #2a4a69 repeat scroll 0 0; */
/* } */

/* .listaCatalogoProductosStyle tr.z-listitem-seld { */
/* 	/* Elementos seleccionados */ */
/* 	background: rgb(30,87,153); */
/* 	background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); FF3.6-15 */
/* 	background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); */
/* 	background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); */
/* } */

/* .listaCatalogoProductosStyle tr.z-listbox-odd.z-listitem-seld { */
/*   Elementos impares seleccionados */
/* } */

/* /* Header and Footer Font and Height */ */
/* .listaCatalogoProductosStyle .z-listfooter-cnt, .listaCatalogoProductosStyle .z-listheader-cnt { */
/* 	border: 0 none; */
/* 	color: black; */
/* 	font-family: "Tahoma", verdana, arial, sans-serif; */
/* 	font-size: 11px; */
/* 	margin: 0; */
/* /* 	height: 13px; */ */
/* } */

/* /* Altura y formato de la fuente de la celda*/ */
/* .listaCatalogoProductosStyle .z-listfooter-cnt, .listaCatalogoProductosStyle .z-listcell-cnt, .listaCatalogoProductosStyle .z-listheader-cnt { */
	
/* 	font-size: var(--fontSizeCellListBox); */
/* 	font-weight: bolder; */
/* 	font-family: 'Advent Pro', sans-serif; */
/* /* 	height: 13px; */ */
/* 	color: white; */
/* } */




/* .listaCatalogoProductosStyle .z-listheader-sort-img { */
/* 	float: left; */
/* 	font-size: 0; */
/* 	left: 90%; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	position: absolute; */
/* } */

/* /** color header listbox **/ */
/* .listaCatalogoProductosStyle .z-listbox-header tr.z-listhead, div.z-listbox-header tr.z-auxhead { */
/* 	background-image: none; */
	
/* 	background-color: rgb(69,72,77); */
/* 	background-color: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); */
/* 	background-color: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); */
/* 	background-color: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); */
/* 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); */
	
/* 	color: white; */
/* 	font-size: var(--fontSizeHeaderListBox); */
/* } */

/* .listaCatalogoProductosStyle .z-listbox-header th.z-listheader-sort-over { */
/* 	background-image: none; */
/* } */
/* /* FIN css ListBox CatalogoProductos*/ */





























/* .decimalBoxTotal{ */
/* 	font-weight: 900; */
/* 	font-size: 95%; */
/* 	color: white; */
/* 	border-style: none; */
/* } */

/* .decimalBoxPagado{ */
/* 	font-weight: 900; */
/* 	font-size: 95%; */
/* 	color: #ee9611; */
/* 	border-style: none; */
/* } */

/* .decimalBoxPorPagar{ */
/* 	font-weight: 900; */
/* 	font-size: 95%; */
/* 	color: #ffc300; */
/* 	border-style: none; */
/* } */

/* .decimalBoxSumatorias{ */
/* 	font-weight: bolder; */
/* 	font-size: 90%; */
/* 	color: #c3002d; */
/* 	border-style: none; */
/* } */

/* .labelFormular{ */
/* 	font-size: 100%; */
/* 	font-family: 'Advent Pro', sans-serif; */
/* 	color: #4c4c4c; */
/* 	font-weight:bolder; */
/* } */

/* .labelFormularRequerido{ */
/* 	font-size: 100%; */
/* 	font-weight: bolder; */
/* 	font-family: 'Advent Pro', sans-serif; */
/* 	color: #bb0606; */
/* 	font-weight:bolder; */
/* } */

/* .labelFormularRespuesta{ */
/* 	font-size: 220%; */
/* 	font-family: 'Advent Pro', sans-serif; */
/* 	color: #232323; */
/* } */



/* .triangulo { */
/*      width: 0;  */
/*      height: 0;  */
/*      border-left: 100px solid #f0ad4e; */
/*      border-top: 50px solid transparent; */
/*      border-bottom: 50px solid transparent;  */
/* } */