/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, */
/* 	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, */
/* 	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, */
/* 	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, */
/* 	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, */
/* 	details, embed, figure, figcaption, footer, header, hgroup, menu, nav, */
/* 	output, ruby, section, summary, time, mark, audio, video { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	border: 0; */
/* 	font-size: 100%; */
/* 	font: inherit; */
/* 	vertical-align: baseline; */
/* } */

/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td,
	form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0
}

/* body, input, textarea, select, button, table { */
/* 	font-family: 'ë�‹ì›€', Dotum, AppleGothic, sans-serif; */
/* 	font-size: 12px */
/* } */

/* img, fieldset { */
/* 	border: 0 */
/* } */

/* ul, ol { */
/* 	list-style: none */
/* } */

/* em, address { */
/* 	font-style: normal */
/* } */

/* a { */
/* 	text-decoration: none; */
/* 	color: #666; */
/* } */

a:hover, a:active, a:focus {
	text-decoration: underline
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

/* body { */
/* 	line-height: 1; */
/* } */

/* ol, ul { */
/* 	list-style: none; */
/* } */

/* blockquote, q { */
/* 	quotes: none; */
/* } */

/* blockquote:before, blockquote:after, q:before, q:after { */
/* 	content: ''; */
/* 	content: none; */
/* } */

table {
	border-collapse: collapse;
	border-spacing: 0;
}








.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	background: #eee;
}

#container:after {
	display: block;
	clear: both;
	content: '';
}

#container .side {
	position: relative;
	float: left;
	width: 100%;
	min-height: 500px;
	background: #3d3d3d
}

#container h1 {
	padding: 10px;
	background: #666;
	color: #fff;
	text-align: center;
}

#container .content {
	position: relative;
	float: right;
	width: 100%;
	background: #f3f3f3
}

#gnb {
	margin: 20px 0;
	width: 200px;
	overflow: hidden;
	background: #555656;
	line-height: 18px;
}

#gnb>li {
	padding: 3px 0 3px 12px;
	border-bottom: 1px solid #3d3d3d;
	cursor: pointer;
}

#gnb li a {
	display: inline-block;
	height: 20px;
	color: #fff;
}

#gnb li ul li {
	padding-left: 4px;
}

#gnb li ul li a {
	color: #fab151
}

#gnb div {
	height: 0px;
	overflow: hidden;
	opacity: 0;
}